body {
    background-color: grey;
    height: 100%;
}

li {
    line-height: 180%
}

img {
    width: 190px;
    height: 190px;
    float: left;
}

h1 {
    font: 24px solid white;
    float: right;
    position: relative;
    z-index: -1;
}

#block1 {
    float: left; 
    max-width: 50%; 
    margin: 30px 0px 0px 0px; 
    line-height: 180%
}

#khanh {
    float: left; 
    max-width: 30%; 
    margin: 30px 50px 0px 0px
}

.right {
    display: inline-block; 
    float: right; 
    margin-right: 20px;
}


.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    max-width: inherit;
    height: 200px;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 50%;
    max-width: inherit;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    padding: 20px;
    background: rgba(0,0,0,0.3);
    text-align: center;
    z-index: 100;
    top: 40%;
    position: relative;
    color: white;
    max-width: inherit;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.container {
    width: 60%;
    height: 800px;
    background-color: blue;
    border-radius: 5px;
    margin: 20px 30px;
    text-align:left;
}

#signup {
    margin-top: 15px;
    text-align: center;
    width: 250px;
    height: 50px;
    float: left;
    vertical-align: middle;
    font: 24px;
    font-weight: 800;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 1px 1px 1px 1px;
    overflow: hidden;
    background-color: #333;
    height: 45px;    
}

#nav li {
    float: left;
    display: block;
}

#nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #111;
}
